#container{
    display:flex;
    justify-content: space-between;
    
}

#not_started{
    background-color: rgb(228, 188, 94);
    display: inline-block;
}
#progress{
    background-color: turquoise;
}

#blocked{
    background-color: rgb(159, 65, 65);
    
}

#finished{
    background-color: rgb(55, 174, 134);
    display: inline-block;
}
.not_started {
    border-color: rgb(213, 163, 55) ;

}

.progress {
    border-color: rgb(39, 131, 122) ;

}

.blocked{
    border-color: rgb(140, 98, 98);

}
.finished{
    border-color: rgb(34, 106, 99) ;

}

.task {
    border-width: 2px;
    border-style:  solid;
    padding: 10px;
    margin: 20px;
    color: antiquewhite;
}

.task p {
    margin: 0px;
}
#middle-container {
    display: inline-grid;
    
}
.column-container {
    margin: 0px 10px;
}

#form-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border: 20px solid whitesmoke;
}

#add-btn {
    background-color: rgb(64, 81, 55);
    color: white;
    padding: 5px 20px;
}
.form-input {
    padding: 5px 10px;
    text-align: center;
    font-weight: 600;
}

.pile-div {
    min-height: 97.58px;
    min-width: 312.2px;
}




